<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <section name="TestConfiguration" type="AutoFramework.ConfigElement.TestConfiguration, AutoFramework" />
  </configSections>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.2.0" newVersion="2.3.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ImpromptuInterface" publicKeyToken="0b1781c923b2975b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.1.0" newVersion="7.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RazorEngine" publicKeyToken="9ee697374c7e744a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.10.0.0" newVersion="3.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DnsClient" publicKeyToken="4574bb5573c51424" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.1.0" newVersion="1.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServices" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:22529/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServices" contract="Service.IServices" name="BasicHttpBinding_IServices" />
    </client>
  </system.serviceModel>
<specFlow>
  <unitTestProvider name="NUnit" />
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><stepAssemblies>
      <!-- This attribute is required in order to use StepArgument Transformation as described here; 
    https://github.com/marcusoftnet/SpecFlow.Assist.Dynamic/wiki/Step-argument-transformations  -->
      <!-- This attribute is required in order to use StepArgument Transformation as described here; 
    https://github.com/marcusoftnet/SpecFlow.Assist.Dynamic/wiki/Step-argument-transformations  --><stepAssembly assembly="SpecFlow.Assist.Dynamic" />
    </stepAssemblies><!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --></specFlow>

  <TestConfiguration>
    <testSettings>
      <testSetting name="staging" aut="http://eaapp.somee.com/" browser="FireFox"  browserDriverPath="D:\\Drivers\\" testType="SmokeTest" isLog="Y" logPath="D:\\AutoLogs\\" autConnectionString="Data Source=EAEmployeeDB.mssql.somee.com;User ID=kartmcad_SQLLogin_1;Password=wtzaxoan1l;persist security info=False;initial catalog=EAEmployeeDB" />
      <testSetting name="preprod" aut="http://eaapp.somee.com/" browser="IE" browserDriverPath="D:\\Drivers\\" testType="Regression" isLog="Y" logPath="C:\\EAAutoLogs\\" autConnectionString="Data Source=EAEmployeeDB.mssql.somee.com;User ID=kartmcad_SQLLogin_1;Password=wtzaxoan1l;persist security info=False;initial catalog=EAEmployeeDB" />
      <testSetting name="production" aut="http://eaapp.somee.com/" browser="Chrome" browserDriverPath="D:\\Drivers\\" testType="SmokeTest" isLog="Y" logPath="C:\\EAAutoLogs\\" autConnectionString="Data Source=EAEmployeeDB.mssql.somee.com;User ID=kartmcad_SQLLogin_1;Password=wtzaxoan1l;persist security info=False;initial catalog=EAEmployeeDB" />
    </testSettings>
  </TestConfiguration>



</configuration>